.lead__title {
    max-width: 720px;
    font-weight: 900;
    font-style: normal;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    margin: 56px auto 32px;
    color: #ffffff;
}

@media screen and (max-width: 1279px){
    .lead__title {
        margin: 48px auto 32px;
    }
}

@media screen and (max-width: 767px){
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin: 48px auto 16px;
    }
}