.intro {
    margin: 0 auto;
    padding: 92px 0 0;
    max-width: 984px;
}

@media screen and (max-width: 1023px){
    .intro {
        max-width: 720px;
    }
}

@media screen and (max-width: 767px){
    .intro {
        max-width: 288px;
    }
}