.lead__caption {
    max-width: 158px;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    margin: 8px 0 0;
    letter-spacing: 0.15em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

@media screen and  (max-width: 1023px){
    .lead__caption {
        margin: 8px 0 0 24px;
    }
}

@media screen and  (max-width: 767px){
    .lead__caption {
        margin: 8px 0 0 16px;
    }
}