.place__website {
    max-width: 456px;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: end;
}

@media screen and (max-width: 1023px){
    .place__website {
        max-width: 353px;
    }
}

@media screen and (max-width: 767px){
    .place__website {
        min-width: 288px;
        margin: 0 auto;
    }
}
